.pizzas{
  display: flex;
  flex-direction: column-reverse;
}

.pizza{
  background: #666666;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  font-size: 20px;
  color: white;
  font-weight:bold;
  align-self:center;
  margin-bottom: 10px;
}
.pizza__price{
    position:absolute;
    margin-top:100px;
    text-align:center;
    width:250px;
  }
  .pizza__diameter{
   position: absolute;
    margin-top:120px;
    text-align:center;
    width:250px;
  }

  .input--text{
    border:1px solid #ebeced;
    border-radius:2px;
    border-right-color:transparent;
  }

  .input-append{
    display:flex;
  }

  .input-appended{
    display: flex;
    align-items: center;
  }


  .button.button-assertive.button-delete{
    position: absolute;
    margin: 170px;
    margin-left: 91px;
  }

  .bestValue {
    
  }

  .bestValue:after {
    content: "Best value!";
    display: inline-block;
    color: white;
    background: #6bc159;
    padding: 10px;
    border-radius: 5px;
    margin: 8px 0 0 0;
}